<div class="container">
    <div>
        <h1 style="margin-left:150px;">Angular To Do</h1>
    </div><br><br>
    <div class='insert-block'>
        <input type="text" class="add-task" (keyup.enter)='enterOnText({"evt":$event, "value": taskvalue.value})' #taskvalue placeholder="Enter your task here..." />
        <button class="btn btn-primary add-button" (click)='addTask(taskvalue.value)'>ADD</button>
    </div>
    <ul class='tasks' *ngIf="tasks.length > 0; else norecords">
        <li *ngFor=" let task of tasks; let i= index ">
            <input type="checkbox" (change)="completeTask({'evt': $event, 'task':task})" class="form-check-input complete-task"> {{task}}
            <span class="badge badge-primary remove-task " (click)="removeTask(i)">x</span>
        </li>
    </ul>
    <ng-template #norecords>
        <div class="norecordstemplate">No tasks to display</div>
    </ng-template>
</div>